PORT=5000

MONGODB_URI=mongodb+srv://deepguchhait01_db_user:dSmxdk7xJ794TOAo@attendance.jcotfgy.mongodb.net

JWT_SECRET=4k9Xb2M7pQ1z

JWT_EXPIRES_IN=7d

NODE_ENV=development

CLOUDINARY_CLOUD_NAME=

CLOUDINARY_API_KEY=

CLOUDINARY_API_SECRET=